.clearfix{
  float: none;
  clear: both;
}

body{
  background: url("http://3.bp.blogspot.com/-AqwK3xN7TI4/Veue9c-g3XI/AAAAAAAAAFI/5ClFROBz2KA/s1600-r/fondos%2Banimados2_zpsdbpvulbd.gif");
  background-attachment: fixed;
  
}



